pandas
numpy
scikit-learn
tqdm
sentence-transformers
faiss-cpu
ollama
langchain
langchain-community
langchain_core
langchain-openai
streamlit
torch
torchvision
watchdog
azure-identity
azure-keyvault-secrets
azure-storage-blob
python-dotenv       # For loading environment variables from a .env file
openai      # For interacting with OpenAI's API, used in the diagnosis agent
joblib      # For saving and loading the trained model
azure-monitor-opentelemetry==1.6.4      # Provides integration between Azure Monitor and OpenTelemetry, allowing you to send telemetry data to Azure Monitor
opentelemetry-api==1.30.0       # Provides the OpenTelemetry API, which defines the interfaces for tracing and metrics collection
opentelemetry-sdk==1.30.0       # Provides the core implementation of the OpenTelemetry API, including the tracer provider and span processor
opentelemetry-semantic-conventions==0.51b0      # Provides semantic conventions for OpenTelemetry, which standardize the attributes used in tracing and metrics