pandas
numpy
scikit-learn
tqdm
sentence-transformers
faiss-cpu
ollama
langchain
langchain-community
langchain_core
langchain-openai
streamlit
torch
torchvision
watchdog
azure-identity
azure-keyvault-secrets
python-dotenv
openai
azure-monitor-opentelemetry
opentelemetry-api
opentelemetry-sdk